.flex-col > div>mat-label {
    font-weight: bold;
  }
  
  .flex-col > div{
      padding: 10px;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  mat-icon{
      padding-top: 5px;
      padding-left: 5px;
  }
  
  .flex-row{
      display: flex;
  }

  button {
    margin-right: 5px;
    height: 35px;
  }
  
  .flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }