.containerA{
    margin-top: 10px;
    padding-top: 15px;
    padding-right: 30px;
    margin-left:20px;
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction:row;
}

mat-icon{
    font-size: 30px;
}

.title > span {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}


.flex-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-between > button{
    margin-right:30px;
}

mat-divider{
    margin-top: 15px;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.flex-row-space{
    display: flex;
    justify-content: space-around;
}

.form-group{
    width: 350px;
}

.flex-column{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-width{
    width: 350px;
}

.flex-column > div{
    margin-top: 15px;
}


.form-section > div> span{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
    margin-top: 20px;
}

.info-title{
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-arrow{
    color: green;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}

.btn-secondary{
    margin-right: 20px;
}
