<div class="flex-row">
    <span mat-dialog-title>Desativar Funcionário </span>
    <mat-icon>help</mat-icon>
    </div>
    <div class="flex-col" mat-dialog-content>
        <div>
            <mat-label>Tem a certeza que quer desativar o funcionário {{selectedEmployee.firstName}}
                {{selectedEmployee.lastName}} ?
            </mat-label>
        </div>
    </div>
    <div class="flex-row-center">
        <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancelar</button>
        <button type="button" class="btn btn-success btn-sm" (click)="confirm()">Confirmar</button>
    </div>